.searchBarBox {
  padding: 1.5rem;
  box-shadow: 0 0.4rem 1.4rem rgb(0 0 0 / 30%);
  background-color: #32373d;
  color: white;
}
.bgImage {
  margin-top: -10px;
  /* min-height: 100vh; */
  background-color: rgb(223, 223, 223);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
