.page-wrap {
  margin: 65px auto;
  display: flex;
  flex-direction: column;
  /* color: white; */
}

.background-wrap {
  /* margin-top: -100px; */
  min-height: 100vh;
  background-color: #dddddd;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .cards-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}

@media screen and (min-width: 1000px) {
  .cards-wrap {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* @media screen and (min-width: 1200px) {
  .cards-wrap {
    grid-template-columns: repeat(4, 1fr);
  }
} */

.card {
  margin: 1rem;
  min-width: 250px !important;
  align-items: center;
  padding: 1rem;
  background-color: #304855 !important;
  border: 1px solid rgba(255, 255, 255, 0.233) !important;
  box-shadow: 0 0.4rem 1.4rem rgba(0, 0, 0, 0.507);
  color: white;
}

/* .card-image-box {
  
  display: flex;
} */

.card-image {
  height: 60px;
  width: 60px;
  border-radius: 50% !important;
}

page-title {
  color: #273b46;
}
