.createCardBtn {
  width: 200px;
}

.bgImage {
  margin-top: -10px;
  min-height: 100vh;

  /* background-color: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 121, 124, 1) 55%
  ); */
  /* background-image: url("../../images/pages-bg.jpg"); */
  /* background-position: center; */
  /* background-repeat: no-repeat;
  background-size: cover; */
}
