.footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(37, 37, 37);
  color: white;
  padding: 0 1.5rem;
  width: 100%;
}

.footer-top {
  text-align: center;
  border-bottom: 1px solid rgb(187, 187, 187);
  width: 100%;
}

.footer-top p {
  margin: 0;
}
.footer-midlle {
  display: flex;
  flex-direction: row;
}

.footer-left-box {
  width: 50%;
}

.footer-left-box p {
  margin: 0;
  color: rgb(136, 136, 136);
}
.footer-right-box {
  display: flex;
  justify-content: space-around;
  width: 50%;
  border-left: 1px solid rgb(187, 187, 187);
}

.footer-right-box .links-container {
  display: flex;
  flex-direction: column;
}
.footer-right-box .links-container a {
  text-decoration: none;
  color: rgb(136, 136, 136);
}

.footer-right-box .links-container a:hover {
  text-decoration: underline;
  color: white;
}

.footer-bottom {
  font-size: 0.5rem;
  text-align: center;
}

.footer-bottom a {
  color: rgb(136, 136, 136);
}
.footer-bottom a:hover {
  color: white;
}
