.footer {
  display: flex;
  flex-direction: column;
  background-color: #273b46;
  color: white;

  width: 100%;
}

.footer-container {
  width: 100%;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.links-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.links-container a {
  text-decoration: none;
  color: rgb(136, 136, 136);
}

.links-container a:hover {
  text-decoration: underline;
  color: white;
}

.info {
  display: flex;
  flex-direction: column;
  /* justify-self: start; */
}

.footer-bottom {
  background: #000;
  font-size: 0.5rem;
  text-align: center;
}

.footer-bottom a {
  color: rgb(136, 136, 136);
}
.footer-bottom a:hover {
  color: white;
}
